<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="sm-jumbotron center-align">
        <h2>Movies Application</h2>
        <h4>User's Registration Form</h4>
      </div>
      <form>
        <fieldset>
          <legend>Personal information:</legend>

          First name:<br>
          <input type="text" name="FirstName: " value=""><br>

          Surname:<br>
          <input type="text" name="Surname" value=""><br>

          Username:<br>
          <input type="text" name="Username" value=""><br>

          Password:<br>
          <input type="password" name="Password" value=""><br><br>

          <input type="submit" value="Submit" (click) ="submitdata()"><br><br>

          <label>Please login if you have already registered.</label>
          
        </fieldset>
      </form>
    </div>
  </div>
</div>>
